/build/

.hermes
.vscode
.trae
.cache
.commit_tmp

.clangd
.clang-tidy
.reasonix

.skills

BoardConfig.h
board_config.cmake
*/config/__pycache__

GP2040-CE
docs

lib/mbedtls
lib/tinyusb
lib/ArduinoJson
lib/frozen

/agent/
*.jsonl

*example*

# Generated protocol output
protocol/proto.h
protocol/proto.rs
protocol/types.ts

*/test/__pycache__

.codegraph

example

REASONIX.md
